<section id="work" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2">
            <h1 class="section-heading">Work</h1>
            <div class="container-fluid">
                <div class="row no-gutter">
                    
                    <% ctrl_tile_props = {title: "CTRL", caption: "A management server web portal application for DSR camera systems", link: "https://control.dsr.systems/gallery/set/ee131a4abf4092ce74ecd0017865de4a77541feb", img_src: image_path("ctrl.jpg")} %>
                    <%= react_component("Tile", props: ctrl_tile_props, prerender: true)%>

                    <% portfolio_tile_props = {title: "PORTFOLIO", caption: "This website! (checkout the GitHub repo)", link: "https://github.com/calvillain/calvin-portfolio-website", img_src: image_path("portfolio.jpg")} %>
                    <%= react_component("Tile", props: portfolio_tile_props, prerender: true)%>

                    <% banchanclub_tile_props = {title: "BANCHAN CLUB", caption: "Fresh Korean food side dishes, delivered to your door!", link: "https://banchanclub-dev.herokuapp.com", img_src: image_path("banchan.jpg")}%>
                    <%= react_component("Tile", props: banchanclub_tile_props, prerender: true)%>
                    
                    <% kubekrush_tile_props = {title: "KUBE KRUSH", caption: "A match-3 game, built with pure JavaScript/HTML5", link: "https://kubekrush.000webhostapp.com/", img_src: image_path("kubekrush.jpg")}%>
                    <%= react_component("Tile", props: kubekrush_tile_props, prerender: true)%>

                    <% chess_tile_props = {title: "ASCII CHESS", caption: "A 2-player chess Android app, built with JavaFX and Android Studio", link: "https://drive.google.com/file/d/1bm97h5RXe2IbUfF1_2f1I9UKE-THPKg8/view?usp=sharing", img_src: image_path("chess0")} %>
                    <%= react_component("Tile", props: chess_tile_props, prerender: true)%>

                    <div class="col-lg-4 col-sm-6">
                        <%= image_tag "ctrl.jpg", class: "img-responsive", alt: "CTRL" %>
                        <div class="work-box-caption">
                            <div class="work-box-caption-content">
                                <div class="work-name">
                                    CTRL
                                </div>
                                <div class="work-category" class="text-faded">
                                    A management portal server
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>