<section id="work" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h1 class="section-heading">Work</h1>
            <div class="container-fluid">
                <div class="row no-gutter">
                    <div class="col-lg-4 col-sm-6">
                        <%= image_tag "ctrl.jpg", class: "img-responsive", alt: "CTRL" %>
                        <div class="work-box-caption">
                            <div class="work-box-caption-content">
                                <div class="work-name">
                                    CTRL
                                </div>
                                <div class="work-category" class="text-faded">
                                    A management portal server
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <%= image_tag "ctrl.jpg", class: "img-responsive", alt: "CTRL" %>
                        <div class="work-box-caption">
                            <div class="work-box-caption-content">
                                <div class="work-name">
                                    CTRL
                                </div>
                                <div class="work-category" class="text-faded">
                                    A management portal server
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <%= image_tag "ctrl.jpg", class: "img-responsive", alt: "CTRL" %>
                        <div class="work-box-caption">
                            <div class="work-box-caption-content">
                                <div class="work-name">
                                    CTRL
                                </div>
                                <div class="work-category" class="text-faded">
                                    A management portal server
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <%= image_tag "ctrl.jpg", class: "img-responsive", alt: "CTRL" %>
                        <div class="work-box-caption">
                            <div class="work-box-caption-content">
                                <div class="work-name">
                                    CTRL
                                </div>
                                <div class="work-category" class="text-faded">
                                    A management portal server
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <%= image_tag "ctrl.jpg", class: "img-responsive", alt: "CTRL" %>
                        <div class="work-box-caption">
                            <div class="work-box-caption-content">
                                <div class="work-name">
                                    CTRL
                                </div>
                                <div class="work-category" class="text-faded">
                                    A management portal server
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <%= image_tag "ctrl.jpg", class: "img-responsive", alt: "CTRL" %>
                        <div class="work-box-caption">
                            <div class="work-box-caption-content">
                                <div class="work-name">
                                    CTRL
                                </div>
                                <div class="work-category" class="text-faded">
                                    A management portal server
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>